.mainDiv {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(135deg, #041F1C, #062521);
  color: #E0F2EF;
  opacity: 97%;
  display: flex;
  justify-content: center;

}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e9ecf1;
  border-radius: 16px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  transition: width 0.2s ease-out;
}

/* Card styling */
.card {
  background: #007bff;
  border-radius: 50px;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 120px;
  height: 60px;
  transition: all 0.5s linear;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
}

/* Circle with arrow */
.circle {
  background: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  font-size: 20px;
  color: black;
}