.services {
  margin-top: 70px;
  padding: 3.5rem 0;
  background: var(--secondary-dark)
}

.section-header h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: .5rem;
}

.section-header p {
  font-size: 18px;

}

.section-header .highlight {
  color: aqua;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.8rem
}

.service-card {
  background: var(--accent-dark);
  padding: 2.5rem;
  border-radius: 12px;
  border: 1px solid rgba(0, 212, 255, 0.06);
  transition: all .25s;
  position: relative;
  overflow: hidden
}

.service-card:hover {
  background: rgba(55, 205, 255, 0.1);
  box-shadow: 0 0 35px 5px #176fab;
}

.service-icon {
  width: 56px;
  height: 56px;
  background: linear-gradient(135deg, var(--dark-cyan), var(--primary-cyan));
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  margin-bottom: 1rem
}

.service-card h3 {
  font-size: 25.5px;
  margin-bottom: .5rem;
  font-weight: 500
}
.service-card {
  background: var(--accent-dark);
  padding: 2.5rem;
  border-radius: 12px;
  border: 1px solid rgba(0, 212, 255, 0.06);
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

/* Create the top animated aqua line */
.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* start off-screen */
  width: 100%;
  height: 1px; /* thickness of the line */
  background: rgb(68, 176, 176);
   left: 0;
  animation: slide-line 5.5s linear infinite;
  transition: left 0.4s ease;
}

/* Animate the line sliding when hovered */
.service-card:hover::before {
  left: 0;
  animation: slide-line 1.5s linear infinite;
}

/* Keyframes for continuous movement */
@keyframes slide-line {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.highlight {
  color: white;
}

.service-card p {
  color: var(--text-secondary);
  margin-bottom: 1rem;
  font-size: 16px;
}

.service-link {
  color: var(--primary-cyan);
  text-decoration: none;
  font-weight: 500
}

/* Responsive adjustments */

@media(max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .service-card {
    text-align: center;
  }
}